body {
    font-family: 'Ubuntu', sans-serif;
}

#title {
    background-color: #ff2462;
}

.container-fluid {
    padding: 3% 15%;
}

.navbar-brand {
    font-size: 2rem;
    margin-left: 0px !important;
}

.navbar {
    font-size: 2rem;
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0px 18px;
}
.nav-link {
    font-size: 1.2rem;

}

.collumn-box {
    height: fit-content;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: azure;
    font-size: 3.5rem;
    line-height: 1.5;
    
}

.btn-download {
    margin: 5% 3% 5% 0%;
}

.iphone {
    transform: rotate(25deg);
    width: 60%;
}

/* Features */

#features {
    padding: 7% 15%;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.features-box {
    padding: 5%;
}

p {
    color: #8f8f8f;
}

.icon {
    margin-bottom: 1rem;
    color: #ef8172;
}

.icon:hover {
    color: #ff4c68;
}

/* testimonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

h2 {
    font-family: 'Otomanopee One', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}